/* nav ul a {
  transition: all 0.2s;
}

nav ul a:hover {
  border-bottom: 1px solid #ddd;
} */

button {
  outline: none !important;
}

@media (min-width: 768px) {
  img {
    height: 400px !important;
  }
}
